:root {
    --background-color: #2A2E46;
    --stick-color: bisque;
    --ice-cream-color:  #DEA4CA;
    --stripe-color: #DA81B1;
    --stick-shadow-color:  rgba(0, 0, 0, 0.2);
    --name-color: #ffffff;
}

body {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    background-color: var(--background-color);
}

.stick {
    width: 40px;
    height: 240px;
    position: relative;
    background-color: var(--stick-color);
    border-radius: 20px;
}

.stick:before {
    content: "";
    background-color: var(--ice-cream-color);
    width: 160px;
    height: 300px;
    position: absolute;
    border-radius: 96px 96px 32px 32px;
    bottom: 35%;
    right: -60px;
}

.stick::after {
    content: "";
    width: 40px;
    height: 20px;
    position: absolute;
    background-color: var(--stick-shadow-color);
    top: 65%;
}

.stripe {
    background-color: var(--stripe-color);
    width: 34px;
    height: 220px;
    border-radius: 40px 40px 20px 20px;
    position: absolute;
    right: 34px;
    top:-90px;
}

.stripe-2 {
    background-color: var(--stripe-color);
    width: 34px;
    height: 220px;
    border-radius: 40px 40px 20px 20px;
    position: absolute;
    left: 34px;
    top:-90px;
}

.drop-falling {
    background-color: var(--ice-cream-color);
    width: 16px;
    height: 60px;
    position: absolute;
    border-radius: 50px;
    top: 50%;
    left: 156%;

}

.drop-falling:before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    background-color:  var(--ice-cream-color);
    border-radius: 50%;
    animation: anima 1s normal infinite;
}

.drop {
    width: 40px;
    height: 15px;
    position: absolute;
    background-color:  var(--ice-cream-color);
    border-radius: 100px / 50px;
    left: 128%;
    top: 98%;

    animation: anima-drop 1s normal infinite;
    animation-delay: 2s;
}

@keyframes anima {
    from {
        bottom: 70%;
    }

    to {
        bottom: -75px;
    }
}

@keyframes anima-drop {
    from {
        width: 40px;
        height: 21px;
        border-right-width: 55px;
    }

    to {
        width: 45px;
        height: 21px;
    }
}

footer{
    color:  var(--name-color);
    margin-top: 30rem;
    position: absolute;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 9px;
}
